/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/lib/cybernetic_ruby_on_goroutine/cybernetic_ruby_on_goroutine.so

# rspec failure tracking
/.rspec_status

# rubyのバージョンは一般的なアプリ開発では固定するべきだが、本レポジトリでは諸事情により固定しない。
/.ruby-version

# gemのバージョンは一般的なアプリ開発では固定するべきだが、本レポジトリでは諸事情により固定しない。
/Gemfile.lock
